# 4차시 연습문제 해설

1. "Hello, Python" 이란 간단한 문자열 출력하기
1. "3.14"라는 문자열을 float 타입으로 바꾸어 변수에 저장하기
1. 두 변수에 수치값을 넣고 사칙 연산을 포함하여 다양한 연산 수행하기
1. 임의의 긴 문자열에서 마지막 3글자를 추출하는 예제 코드 작성하기
1. 임의의 긴 문자열을 공백 기준으로 잘라 단어의 수를 출력하는 예제 코드 작성하기

In [1]:
# 1. "Hello, Python" 이란 간단한 문자열 출력하기

In [2]:
print('"Hello, Python"')

"Hello, Python"

In [3]:
print("\"Hello, Python\"")

"Hello, Python"

In [4]:
# 2. "3.14"라는 문자열을 float 타입으로 바꾸어 변수에 저장하기

In [5]:
s = '3.14'
f = float(s)
f

3.14

In [6]:
type(f)

float

In [7]:
# 3. 두 변수에 수치값을 넣고 사칙 연산을 포함하여 다양한 연산 수행하기

In [8]:
a = 10
b = 30

a + b, a * b , a / b, a - b

(40, 300, 0.3333333333333333, -20)

In [9]:
# 4. 임의의 긴 문자열에서 마지막 3글자를 추출하는 예제 코드 작성하기

In [10]:
s = 'Hello, Python'

s[-3:]

'hon'

In [11]:
# 5. 임의의 긴 문자열을 공백 기준으로 잘라 단어의 수를 출력하는 예제 코드 작성하기

In [12]:
s = '임의의 긴 문자열을 공백 기준으로 잘라 단어의 수를 출력하는 예제 코드 작성하기'

len(s.split())

12