# 12 차시 - 연습문제 풀이.ipynb

## 연습 문제

다음과 같은 데이터가 있습니다.

stock_fav.csv
```csv
종목코드,종목명
005930,삼성전자
000660,SK하이닉스
105560,KB금융
051910,LG화학
090430,아모레퍼시픽
```

stock_factors.csv

```csv
종목코드,종목명,PER,PBR,주당배당금,배당수익률
005930,삼성전자,15.91,1.98,21000.0,1.05
000660,SK하이닉스,8.2,1.67,500.0,1.02
005380,현대차,6.12,0.67,4000.0,2.74
015760,한국전력,2.01,0.4,3100.0,7.45
035420,NAVER,45.41,12.41,1100.0,0.14
005490,POSCO,153.39,0.6,8000.0,2.83
012330,현대모비스,7.62,0.93,3500.0,1.43
028260,삼성물산,5.84,1.4,500.0,0.41
055550,신한지주,9.89,0.75,1200.0,2.53
032830,삼성생명,16.75,0.91,1800.0,1.67
105560,KB금융,11.15,0.66,980.0,2.0
017670,SK텔레콤,11.77,1.31,10000.0,4.05
051910,LG화학,17,1.52,4500.0,1.69
```

각 데이터는 다음 URL에서 다운로드하거나 pd.read_csv()로 바로 읽어올 수 있습니다.

* stock_fav.csv: https://bit.ly/3g2h1WL
* stock_factors.csv: https://bit.ly/3bB2kWZ

예를 들어, 첫번째 'stock_fav.csv'는 다음과 같이 읽을 수 있습니다.

```python
stock_fav = pd.read_csv('https://bit.ly/3g2h1WL', dtype={'종목코드':str})
```

`종목코드`의 타입을 str로 지정하고 있습니다. 종목코드는 숫자로만 구성되어 있기 때문에 타입을 str로 지정하지 않으면 수치값으로 읽게 됩니다.

다음을 수행하는 코드를 작성하고 테스트 합니다.

1. 위 힌트의 설명과 같이 데이터를 읽어와 stock_fav, stock_factors 변수명으로 DataFrame을 생성합니다.
1. stock_fav, stock_factors에 인덱스를 지정합니다.
1. stock_factors 에 있는 있는 컬럼(PER,PBR,주당배당금,배당수익률) 데이터를 stock_fav 로 옮깁니다
1. stock_fav 를 CSV 파일로 저장합니다.
1. 잘 저장되었는지 저장된 CSV를 확인합니다.

In [1]:
import pandas as pd

stock_fav = pd.read_csv('https://bit.ly/3g2h1WL', dtype={'종목코드':str})
stock_fav

     종목코드     종목명
0  005930    삼성전자
1  000660  SK하이닉스
2  105560    KB금융
3  051910    LG화학
4  090430  아모레퍼시픽

In [2]:
stock_factors = pd.read_csv('https://bit.ly/3bB2kWZ', dtype={'종목코드':str})
stock_factors

      종목코드     종목명     PER    PBR    주당배당금  배당수익률
0   005930    삼성전자   15.91   1.98  21000.0   1.05
1   000660  SK하이닉스    8.20   1.67    500.0   1.02
2   005380     현대차    6.12   0.67   4000.0   2.74
3   015760    한국전력    2.01   0.40   3100.0   7.45
4   035420   NAVER   45.41  12.41   1100.0   0.14
5   005490   POSCO  153.39   0.60   8000.0   2.83
6   012330   현대모비스    7.62   0.93   3500.0   1.43
7   028260    삼성물산    5.84   1.40    500.0   0.41
8   055550    신한지주    9.89   0.75   1200.0   2.53
9   032830    삼성생명   16.75   0.91   1800.0   1.67
10  105560    KB금융   11.15   0.66    980.0   2.00
11  017670   SK텔레콤   11.77   1.31  10000.0   4.05
12  051910    LG화학   17.00   1.52   4500.0   1.69

## 인덱스 지정

In [3]:
stock_fav.set_index('종목코드', inplace=True)
stock_factors.set_index('종목코드', inplace=True)

In [4]:
# stock_fav = stock_fav.set_index('종목코드')

## 컬럼 복사

In [5]:
stock_fav['PER'] = stock_factors['PER']
stock_fav['PBR'] = stock_factors['PBR']
stock_fav

           종목명    PER   PBR
종목코드
005930    삼성전자  15.91  1.98
000660  SK하이닉스   8.20  1.67
105560    KB금융  11.15  0.66
051910    LG화학  17.00  1.52
090430  아모레퍼시픽    NaN   NaN

In [6]:
stock_fav[['주당배당금', '배당수익률']] = stock_factors[['주당배당금', '배당수익률']]
stock_fav

           종목명    PER   PBR    주당배당금  배당수익률
종목코드
005930    삼성전자  15.91  1.98  21000.0   1.05
000660  SK하이닉스   8.20  1.67    500.0   1.02
105560    KB금융  11.15  0.66    980.0   2.00
051910    LG화학  17.00  1.52   4500.0   1.69
090430  아모레퍼시픽    NaN   NaN      NaN    NaN

In [10]:
stock_fav.to_csv('merged.csv')