# 13 차시 - 연습문제 풀이

## 특정회사의 재무제표 엑셀 URL 모두 가져오기

오픈소스인 OpenDartReader 를 활용하여 특정 회사의 2015년~2019년까지 제무제표 엑셀 파일 URL을 모두 가져오세요

https://github.com/FinanceData/OpenDartReader

여기서는 삼성전자(005930)의 재무제표 엑셀 파일을 2015년~2019년까지 가져옵니다. 

대략 다음과 같이 진행합니다.

1. 전자공시(DART의 키를 발급받습니다)
1. OpenDartReader를 설치합니다.
1. 삼성전자의 사업 보고서 목록을 모두 가져옵니다(2015년 이후)
1. 사업보고서 목록으로 부터 첨부파일 URL을 얻습니다.

In [3]:
CERT_KEY = 'd81e78ca611d1e1e2ed7887ef22e737a66cb64c7'

In [4]:
import OpenDartReader
dart = OpenDartReader(CERT_KEY)

In [5]:
# 사업 보고서 목록: 삼성전자, 2015년 이후 사업보고서)
df = dart.list('005930', kind='A', start='2015', final=True) 
df.head(10)

,corp_code,corp_name,stock_code,corp_cls,report_nm,rcept_no,flr_nm,rcept_dt,rm
0,00126380,삼성전자,005930,Y,분기보고서 (2020.03),20200515001451,삼성전자,20200515,
1,00126380,삼성전자,005930,Y,사업보고서 (2019.12),20200330003851,삼성전자,20200330,연
2,00126380,삼성전자,005930,Y,분기보고서 (2019.09),20191114001273,삼성전자,20191114,
3,00126380,삼성전자,005930,Y,반기보고서 (2019.06),20190814002218,삼성전자,20190814,
4,00126380,삼성전자,005930,Y,분기보고서 (2019.03),20190515001605,삼성전자,20190515,
5,00126380,삼성전자,005930,Y,사업보고서 (2018.12),20190401004781,삼성전자,20190401,연
6,00126380,삼성전자,005930,Y,분기보고서 (2018.09),20181114001530,삼성전자,20181114,
7,00126380,삼성전자,005930,Y,반기보고서 (2018.06),20180814001113,삼성전자,20180814,
8,00126380,삼성전자,005930,Y,분기보고서 (2018.03),20180515001699,삼성전자,20180515,
9,00126380,삼성전자,005930,Y,사업보고서 (2017.12),20180402005019,삼성전자,20180402,연

In [6]:
df.tail()

,corp_code,corp_name,stock_code,corp_cls,report_nm,rcept_no,flr_nm,rcept_dt,rm
17,00126380,삼성전자,005930,Y,사업보고서 (2015.12),20160330003536,삼성전자,20160330,연
18,00126380,삼성전자,005930,Y,분기보고서 (2015.09),20151116000976,삼성전자,20151116,
19,00126380,삼성전자,005930,Y,반기보고서 (2015.06),20150817000859,삼성전자,20150817,
20,00126380,삼성전자,005930,Y,분기보고서 (2015.03),20150515001379,삼성전자,20150515,
21,00126380,삼성전자,005930,Y,사업보고서 (2014.12),20150331002915,삼성전자,20150331,연

## 보고서 첨부 파일의 URL 가져오기

In [7]:
atts = dart.attach_files('20190401004781') # 사업보고서 (2018.12)
atts

[('PDF',
  'http://dart.fss.or.kr/pdf/download/pdf.do?rcp_no=20190401004781&dcm_no=6616741&lang=ko'),
 ('XLS',
  'http://dart.fss.or.kr/pdf/download/excel.do?rcp_no=20190401004781&dcm_no=6616741&lang=ko'),
 ('ZIP',
  'http://dart.fss.or.kr/pdf/download/ifrs.do?rcp_no=20190401004781&dcm_no=6616741&lang=ko')]

In [8]:
atts[1][1]

'http://dart.fss.or.kr/pdf/download/excel.do?rcp_no=20190401004781&dcm_no=6616741&lang=ko'

## 재무제표 엑셀 파일 URL 전체

In [9]:
for ix, row in df.iterrows():
    rcp_no = row['rcept_no']
    atts = dart.attach_files(rcp_no)
    
    print(row['report_nm'])
    print(atts[1][1])

분기보고서 (2020.03)
http://dart.fss.or.kr/pdf/download/excel.do?rcp_no=20200515001451&dcm_no=7341446&lang=ko
사업보고서 (2019.12)
http://dart.fss.or.kr/pdf/download/excel.do?rcp_no=20200330003851&dcm_no=7202455&lang=ko
분기보고서 (2019.09)
http://dart.fss.or.kr/pdf/download/excel.do?rcp_no=20191114001273&dcm_no=6958001&lang=ko
반기보고서 (2019.06)
http://dart.fss.or.kr/pdf/download/excel.do?rcp_no=20190814002218&dcm_no=6846651&lang=ko
분기보고서 (2019.03)
http://dart.fss.or.kr/pdf/download/excel.do?rcp_no=20190515001605&dcm_no=6738798&lang=ko
사업보고서 (2018.12)
http://dart.fss.or.kr/pdf/download/excel.do?rcp_no=20190401004781&dcm_no=6616741&lang=ko
분기보고서 (2018.09)
http://dart.fss.or.kr/pdf/download/excel.do?rcp_no=20181114001530&dcm_no=6382016&lang=ko
반기보고서 (2018.06)
http://dart.fss.or.kr/pdf/download/excel.do?rcp_no=20180814001113&dcm_no=6282263&lang=ko
분기보고서 (2018.03)
http://dart.fss.or.kr/pdf/download/excel.do?rcp_no=20180515001699&dcm_no=6180129&lang=ko
사업보고서 (2017.12)
http://dart.fss.or.kr/pdf/download/excel.do?rcp_no=20180402005019&dcm_no=6060273&lang=ko
분기보고서 (2017.09)
http://dart.fss.or.kr/pdf/download/excel.do?rcp_no=20171114001694&dcm_no=5845320&lang=ko
반기보고서 (2017.06)
http://dart.fss.or.kr/pdf/download/excel.do?rcp_no=20170814001832&dcm_no=5752868&lang=ko
분기보고서 (2017.03)
http://dart.fss.or.kr/pdf/download/excel.do?rcp_no=20170515003806&dcm_no=5653406&lang=ko
사업보고서 (2016.12)
http://dart.fss.or.kr/pdf/download/excel.do?rcp_no=20170331004518&dcm_no=5540271&lang=ko
분기보고서 (2016.09)
http://dart.fss.or.kr/pdf/download/excel.do?rcp_no=20161114001491&dcm_no=5349987&lang=ko
반기보고서 (2016.06)
http://dart.fss.or.kr/pdf/download/excel.do?rcp_no=20160816001779&dcm_no=5261457&lang=ko
분기보고서 (2016.03)
http://dart.fss.or.kr/pdf/download/excel.do?rcp_no=20160516003174&dcm_no=5146351&lang=ko
사업보고서 (2015.12)
http://dart.fss.or.kr/pdf/download/excel.do?rcp_no=20160330003536&dcm_no=5026126&lang=ko
분기보고서 (2015.09)
http://dart.fss.or.kr/pdf/download/excel.do?rcp_no=20151116000976&dcm_no=4854164&lang=ko
반기보고서 (2015.06)
http://dart.fss.or.kr/pdf/download/excel.do?rcp_no=20150817000859&dcm_no=4770098&lang=ko
분기보고서 (2015.03)
http://dart.fss.or.kr/pdf/download/excel.do?rcp_no=20150515001379&dcm_no=4669876&lang=ko
사업보고서 (2014.12)
http://dart.fss.or.kr/pdf/download/excel.do?rcp_no=20150331002915&dcm_no=4556583&lang=ko