## 연습문제
다음 5개 회사의 데이터 엑셀 파일이 있습니다. (2019년 매체별 광고비 입니다)

* SEC_AD_2019.xlsx 삼성전자 https://bit.ly/2X2mKDd
* HMC_AD_2019.xlsx 현대차 https://bit.ly/2Tbu66f
* AMO_AD_2019.xlsx 아모레퍼시픽 https://bit.ly/2WG1mom 
* LGE_AD_2019.xlsx LG전자 https://bit.ly/3bF2AEg
* SKT_AD_2019.xlsx SK텔레콤 https://bit.ly/3bL65cJ

5개 엑셀파일에서 total 부분을 추출하여 하나의 엑셀 파일로 취합하여 엑셀파일로 저장하는 코드를 작성하십시오. (*.xlsx 파일목록을 얻고, 파일명 첫 3글자를 컬럼명으로 사용합니다)

## 데이터 준비

In [ ]:
!curl -L -o SEC_AD_2019.xlsx  https://bit.ly/2X2mKDd
!curl -L -o HMC_AD_2019.xlsx  https://bit.ly/2Tbu66f
!curl -L -o AMO_AD_2019.xlsx  https://bit.ly/2WG1mom
!curl -L -o LGE_AD_2019.xlsx  https://bit.ly/3bF2AEg
!curl -L -o SKT_AD_2019.xlsx  https://bit.ly/3bL65cJ

In [ ]:
import glob
import pandas as pd

fn_list = glob.glob('*_AD_2019.xlsx')
fn_list

['SKT_AD_2019.xlsx',
 'LGE_AD_2019.xlsx',
 'HMC_AD_2019.xlsx',
 'SEC_AD_2019.xlsx',
 'AMO_AD_2019.xlsx']

In [ ]:
fn_list[0]

'SKT_AD_2019.xlsx'

In [ ]:
df = pd.read_excel(fn_list[0], index_col='date', parse_dates=True)
df

             name  magazine  newspaper  radio        tv     total  rank
date
2019-01-01  SK텔레콤     0.025   33.42050      0   8.77113  42.21663     9
2019-02-01  SK텔레콤     0.025   18.36806      0   0.00000  18.39306    32
2019-03-01  SK텔레콤     0.105   21.22090      0  45.29798  66.62387     4
2019-04-01  SK텔레콤     0.245   17.74955      0  32.14533  50.13988     5
2019-05-01  SK텔레콤     0.160   18.74758      0  28.13306  47.04064     8
2019-06-01  SK텔레콤     0.025   16.24678      0  61.52921  77.80099     3
2019-07-01  SK텔레콤     0.095   21.26677      0  30.46219  51.82396     6
2019-08-01  SK텔레콤     0.095   15.21543      0  61.54814  76.85857     4
2019-09-01  SK텔레콤     0.030   16.08295      0  31.62499  47.73794     8
2019-10-01  SK텔레콤     0.025   14.26581      0  43.82271  58.11352     5
2019-11-01  SK텔레콤     0.140   13.73329      0  43.73099  57.60428     5
2019-12-01  SK텔레콤     0.065   25.55868      0  40.63908  66.26276     7

In [ ]:
df['total']

date
2019-01-01    42.21663
2019-02-01    18.39306
2019-03-01    66.62387
2019-04-01    50.13988
2019-05-01    47.04064
2019-06-01    77.80099
2019-07-01    51.82396
2019-08-01    76.85857
2019-09-01    47.73794
2019-10-01    58.11352
2019-11-01    57.60428
2019-12-01    66.26276
Name: total, dtype: float64

In [ ]:
for fn in fn_list:
    print(fn)

SKT_AD_2019.xlsx
LGE_AD_2019.xlsx
HMC_AD_2019.xlsx
SEC_AD_2019.xlsx
AMO_AD_2019.xlsx

In [ ]:
merged = pd.DataFrame()

for fn in fn_list:
    df = pd.read_excel(fn, index_col='date', parse_dates=True)
    corp = fn.split('_')[0]
    print(corp)
    merged[corp] = df['total']

SKT
LGE
HMC
SEC
AMO

In [ ]:
merged

                 SKT        LGE        HMC        SEC       AMO
date
2019-01-01  42.21663   77.02047   71.01985   59.02768  22.20281
2019-02-01  18.39306   70.41583   50.44937   86.50885  14.86875
2019-03-01  66.62387   87.50156   50.79311  125.36503  44.58722
2019-04-01  50.13988  227.99480   48.78960  203.03732  35.14193
2019-05-01  47.04064  323.63334   48.14711  152.49434  25.27867
2019-06-01  77.80099  176.19134   63.39144  222.22087  34.41742
2019-07-01  51.82396  168.39089   56.12816  142.39032  17.18939
2019-08-01  76.85857  130.45768   56.68738  164.86932  17.24250
2019-09-01  47.73794  141.11554   63.49470  154.80901  40.82503
2019-10-01  58.11352  176.95770   76.91742  172.13058  18.15671
2019-11-01  57.60428  183.44561   99.32071  157.67139  15.55512
2019-12-01  66.26276  148.07176  126.60962  142.89812  21.95754

In [ ]:
merged.to_excel('merged.xlsx')

In [ ]:
pd.read_excel('merged.xlsx', index_col='date', parse_dates=True)

                 SKT        LGE        HMC        SEC       AMO
date
2019-01-01  42.21663   77.02047   71.01985   59.02768  22.20281
2019-02-01  18.39306   70.41583   50.44937   86.50885  14.86875
2019-03-01  66.62387   87.50156   50.79311  125.36503  44.58722
2019-04-01  50.13988  227.99480   48.78960  203.03732  35.14193
2019-05-01  47.04064  323.63334   48.14711  152.49434  25.27867
2019-06-01  77.80099  176.19134   63.39144  222.22087  34.41742
2019-07-01  51.82396  168.39089   56.12816  142.39032  17.18939
2019-08-01  76.85857  130.45768   56.68738  164.86932  17.24250
2019-09-01  47.73794  141.11554   63.49470  154.80901  40.82503
2019-10-01  58.11352  176.95770   76.91742  172.13058  18.15671
2019-11-01  57.60428  183.44561   99.32071  157.67139  15.55512
2019-12-01  66.26276  148.07176  126.60962  142.89812  21.95754