# 03 급여이체 은행코드
대량 급여이체 업무

In [ ]:
# 급여이체 은행코드 데이터셋
!git clone "https://github.com/FinanceData/payroll.git"

위 명령을 사용할 수 없다면 다음 URL을 받아서 압축해제

https://github.com/FinanceData/payroll/archive/master.zip

In [1]:
ls payroll

README.md           corp_33348926.xlsx  corp_59904748.xlsx  corp_77693044.xlsx
bank_codes.xlsx     corp_37647285.xlsx  corp_60617361.xlsx  corp_81528028.xlsx
bank_codes_.xlsx    corp_43078288.xlsx  corp_61709324.xlsx  corp_88400341.xlsx
corp_13298999.xlsx  corp_45236365.xlsx  corp_62829014.xlsx  corp_91182111.xlsx
corp_15697271.xlsx  corp_50928439.xlsx  corp_67689330.xlsx  corp_98287536.xlsx
corp_23130944.xlsx  corp_52771293.xlsx  corp_71340135.xlsx

In [2]:
import pandas as pd

# 특정회사의 급여이체 데이터

In [3]:
## corp_43078288.xlsx
pd.read_excel('payroll/corp_43078288.xlsx')

         은행            계좌       금액   이름
0      농협은행  438195551204  4176000  안상훈
1    KB국민은행  325667430944  6438000  박영순
2      하나은행  882643531793  7424000  한미숙
3    NH농협은행  444599840151  4176000  이지후
4      우리은행  496992715925  5278000  권서현
5        신협  699081752246  6844000  김상호
6        신협  309737764472  4408000  김서윤
7      우리은행  241294953952  4466000  양현숙
8      국민은행  250792649316  7830000  이지현
9    NH농협은행  643076144399  5278000  김정훈
10   KB국민은행  619628816872  6612000  이성현
11       신협  992602786172  7424000  황선영
12     기업은행  817286592890  5452000  황미숙
13  KDB산업은행  483526193009  7598000  이예지
14     신한은행  869983666578  6264000  백지아

# 은행코드

In [4]:
## bank_codes.xlsx
pd.read_excel('payroll/bank_codes.xlsx', dtype={'코드':str})

         은행   코드
0    한국산업은행  002
1      국민은행  004
2    KB국민은행  004
3      우리은행  020
4        농협  011
5      농협은행  011
6    NH농협은행  011
7      기업은행  003
8        신협  048
9      신한은행  088
10  KEB하나은행  081
11     하나은행  081
12   SC제일은행  023
13     제일은행  023
14    카카오뱅크  090

# 인덱스를 활용한 컬럼복사

In [5]:
payroll = pd.read_excel('payroll/corp_43078288.xlsx', index_col='은행')
bank_codes = pd.read_excel('payroll/bank_codes.xlsx', index_col='은행', dtype={'코드':str})

payroll['코드'] = bank_codes['코드']
payroll

                   계좌       금액   이름   코드
은행
농협은행     438195551204  4176000  안상훈  011
KB국민은행   325667430944  6438000  박영순  004
하나은행     882643531793  7424000  한미숙  081
NH농협은행   444599840151  4176000  이지후  011
우리은행     496992715925  5278000  권서현  020
신협       699081752246  6844000  김상호  048
신협       309737764472  4408000  김서윤  048
우리은행     241294953952  4466000  양현숙  020
국민은행     250792649316  7830000  이지현  004
NH농협은행   643076144399  5278000  김정훈  011
KB국민은행   619628816872  6612000  이성현  004
신협       992602786172  7424000  황선영  048
기업은행     817286592890  5452000  황미숙  003
KDB산업은행  483526193009  7598000  이예지  NaN
신한은행     869983666578  6264000  백지아  088

이렇게 '코드'가 추가된 DataFrame을 별도 엑셀 파일로 저장합니다.

In [6]:
payroll.to_excel('corp_13298999_코드적용.xlsx')

## 모든 엑셀 파일 처리하기

In [7]:
import glob
import pandas as pd

fn_list = glob.glob('payroll/corp_*.xlsx')
fn_list

['payroll/corp_60617361.xlsx',
 'payroll/corp_67689330.xlsx',
 'payroll/corp_43078288.xlsx',
 'payroll/corp_98287536.xlsx',
 'payroll/corp_45236365.xlsx',
 'payroll/corp_33348926.xlsx',
 'payroll/corp_52771293.xlsx',
 'payroll/corp_71340135.xlsx',
 'payroll/corp_37647285.xlsx',
 'payroll/corp_91182111.xlsx',
 'payroll/corp_81528028.xlsx',
 'payroll/corp_15697271.xlsx',
 'payroll/corp_77693044.xlsx',
 'payroll/corp_23130944.xlsx',
 'payroll/corp_13298999.xlsx',
 'payroll/corp_88400341.xlsx',
 'payroll/corp_50928439.xlsx',
 'payroll/corp_62829014.xlsx',
 'payroll/corp_61709324.xlsx',
 'payroll/corp_59904748.xlsx']

In [8]:
bank_codes = pd.read_excel('payroll/bank_codes.xlsx', index_col='은행', dtype={'코드':str})

fn_list = glob.glob('payroll/corp_*.xlsx')
for fn in fn_list:
    payroll = pd.read_excel(fn, index_col='은행')
    payroll['코드'] = bank_codes['코드']
    to_fn = fn.replace('payroll/', '').replace('.xlsx', '_코드적용.xlsx')
    payroll.to_excel(to_fn)
    print(fn, '-->', to_fn)

payroll/corp_60617361.xlsx --> corp_60617361_코드적용.xlsx
payroll/corp_67689330.xlsx --> corp_67689330_코드적용.xlsx
payroll/corp_43078288.xlsx --> corp_43078288_코드적용.xlsx
payroll/corp_98287536.xlsx --> corp_98287536_코드적용.xlsx
payroll/corp_45236365.xlsx --> corp_45236365_코드적용.xlsx
payroll/corp_33348926.xlsx --> corp_33348926_코드적용.xlsx
payroll/corp_52771293.xlsx --> corp_52771293_코드적용.xlsx
payroll/corp_71340135.xlsx --> corp_71340135_코드적용.xlsx
payroll/corp_37647285.xlsx --> corp_37647285_코드적용.xlsx
payroll/corp_91182111.xlsx --> corp_91182111_코드적용.xlsx
payroll/corp_81528028.xlsx --> corp_81528028_코드적용.xlsx
payroll/corp_15697271.xlsx --> corp_15697271_코드적용.xlsx
payroll/corp_77693044.xlsx --> corp_77693044_코드적용.xlsx
payroll/corp_23130944.xlsx --> corp_23130944_코드적용.xlsx
payroll/corp_13298999.xlsx --> corp_13298999_코드적용.xlsx
payroll/corp_88400341.xlsx --> corp_88400341_코드적용.xlsx
payroll/corp_50928439.xlsx --> corp_50928439_코드적용.xlsx
payroll/corp_62829014.xlsx --> corp_62829014_코드적용.xlsx
payroll/corp_61709324.xlsx --> corp_61709324_코드적용.xlsx
payroll/corp_59904748.xlsx --> corp_59904748_코드적용.xlsx

In [9]:
ls *.xlsx

corp_13298999_코드적용.xlsx         corp_61709324_코드적용.xlsx
corp_15697271_코드적용.xlsx         corp_62829014_코드적용.xlsx
corp_23130944_코드적용.xlsx         corp_67689330_코드적용.xlsx
corp_33348926_코드적용.xlsx         corp_71340135_코드적용.xlsx
corp_37647285_코드적용.xlsx         corp_77693044_코드적용.xlsx
corp_43078288_코드적용.xlsx         corp_81528028_코드적용.xlsx
corp_45236365_코드적용.xlsx         corp_88400341_코드적용.xlsx
corp_50928439_코드적용.xlsx         corp_91182111_코드적용.xlsx
corp_52771293_코드적용.xlsx         corp_98287536_코드적용.xlsx
corp_59904748_코드적용.xlsx         marcap_stock_factors_20200701.xlsx
corp_60617361_코드적용.xlsx         marcap_stock_factors_20200702.xlsx

## 다양한 은행 명칭의 문제

In [12]:
pd.read_excel('corp_13298999_코드적용.xlsx', dtype={'코드':str})

         은행            계좌       금액   이름   코드
0      우리은행  428309718313  7888000  박영길  020
1      우리은행  622966813975  5626000  박아름  020
2        농협   67718277890  4002000  임지후  011
3    KB국민은행  109790685119  6380000  진영철  004
4    NH농협은행  937833195575  6670000  박수빈  011
5   KDB산업은행  247982288193  3538000  최정호  NaN
6       카카오  921610799083  5626000  박영일  NaN
7   KEB하나은행  901593858909  7540000  이민수  081
8      국민은행  155176747248  3828000  이준영  004
9      국민은행  684597978886  5510000  권수빈  004
10     국민은행  964409114399  6902000  이성호  004
11  KEB하나은행  504073811299  3770000  권영수  081
12     기업은행  901671591783  5336000  이수빈  003
13   KB국민은행   88252789918  3944000  김정호  004
14     하나은행  678724792365  8062000  권승현  081
15       농협  322341524314  7888000  조서윤  011
16  KEB하나은행  875516402157  7308000  이혜진  081
17       농협  150637531751  4640000  최준호  011
18     신한은행  386530210528  7830000  허영순  088
19   KB국민은행  441460203732  5858000  이수빈  004
20  KEB하나은행  135531362345  4060000  김상철  081
21     하나은행  951273926155  7946000  박지훈  081
22  KEB하나은행  805225124914  7308000  김춘자  081

데이터가 많을 때 일일이 찾기 어렵습니다.

isnull()을 사용하여 결측치(missing value)가 있는 데이터를 손쉽게 찾을 수 있습니다.

In [13]:
payroll =  pd.read_excel('corp_13298999_코드적용.xlsx')
payroll[payroll['코드'].isnull()]

        은행            계좌       금액   이름  코드
5  KDB산업은행  247982288193  3538000  최정호 NaN
6      카카오  921610799083  5626000  박영일 NaN

## 코드적용 결과 검사
결측치(인덱스로 매칭되지 않은 항목) 찾기

In [ ]:
# 결측치(인덱스로 매칭되지 않은 항목) 찾기
fn_list = glob.glob('*코드적용.xlsx')
for fn in fn_list:
    payroll =  pd.read_excel(fn)
    missing = payroll[payroll['코드'].isnull()]
    if len(missing):
        print(fn, len(missing), '건 오류')
        print('-' * 50)
        print(missing)
    else:
        print(fn, 'OK')

이런 내용이 발견되면 은행코드 엑셀 파일(bank_codes.xlsx)에 은행명칭을 추가하고 변환을 다시 수행하면 됩니다.

은행코드 엑셀 파일(bank_codes.xlsx)에 'KDB산업은행(002)'과 '카카오(090)'을 추가하고 다시 수행합니다.

## 전체코드

In [14]:
import pandas as pd
import glob

fn_bankcode = 'payroll/bank_codes.xlsx'
bank_codes = pd.read_excel(fn_bankcode, index_col='은행', dtype={'코드':str})

# 모든 엑셀 파일에 대해 처리
fn_list = glob.glob('payroll/corp_*.xlsx')
for fn in fn_list:
    # 은행코드 컬럼 추가
    payroll = pd.read_excel(fn, index_col='은행')
    payroll['코드'] = bank_codes['코드']
    to_fn = fn.replace('payroll/', '').replace('.xlsx', '_코드적용.xlsx')
    payroll.to_excel(to_fn)

    # 은행코드 적용 결과 검사
    payroll =  pd.read_excel(to_fn)
    missing = payroll[payroll['코드'].isnull()]
    if len(missing):
        print(fn, len(missing), '건 오류')
        print('-' * 50)
        print(missing)
    else:
        print(fn, '-->', to_fn, 'OK')

payroll/corp_60617361.xlsx --> corp_60617361_코드적용.xlsx OK
payroll/corp_67689330.xlsx --> corp_67689330_코드적용.xlsx OK
payroll/corp_43078288.xlsx --> corp_43078288_코드적용.xlsx OK
payroll/corp_98287536.xlsx --> corp_98287536_코드적용.xlsx OK
payroll/corp_45236365.xlsx --> corp_45236365_코드적용.xlsx OK
payroll/corp_33348926.xlsx --> corp_33348926_코드적용.xlsx OK
payroll/corp_52771293.xlsx --> corp_52771293_코드적용.xlsx OK
payroll/corp_71340135.xlsx --> corp_71340135_코드적용.xlsx OK
payroll/corp_37647285.xlsx --> corp_37647285_코드적용.xlsx OK
payroll/corp_91182111.xlsx --> corp_91182111_코드적용.xlsx OK
payroll/corp_81528028.xlsx --> corp_81528028_코드적용.xlsx OK
payroll/corp_15697271.xlsx --> corp_15697271_코드적용.xlsx OK
payroll/corp_77693044.xlsx --> corp_77693044_코드적용.xlsx OK
payroll/corp_23130944.xlsx --> corp_23130944_코드적용.xlsx OK
payroll/corp_13298999.xlsx --> corp_13298999_코드적용.xlsx OK
payroll/corp_88400341.xlsx --> corp_88400341_코드적용.xlsx OK
payroll/corp_50928439.xlsx --> corp_50928439_코드적용.xlsx OK
payroll/corp_62829014.xlsx --> corp_62829014_코드적용.xlsx OK
payroll/corp_61709324.xlsx --> corp_61709324_코드적용.xlsx OK
payroll/corp_59904748.xlsx --> corp_59904748_코드적용.xlsx OK